@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: none;
}

.homepage {
  background-color: #212121;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
}

.side-navbar-container {
  background-color: #121212;
  width: 20%;
}

.logo {
  height: 50px;
  margin: 30px;
}

.homepage-container {
  width: 80%;
}

.users-table {
  text-align: left;
  color: white;
  font-size: 25px;
  font-weight: 400;
  margin-left: 60px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.user-list {
  padding: 0;
  width: 90%;
  align-self: center;
  align-items: center;
}

.table-container {
  width: 90%;
  margin-left: 70px;
  margin: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead tr {
  /* border-top: 1px solid white; */
  border-bottom: 1px solid white;
  color: white;
}

th,
td {
  text-align: left;
  padding: 8px;
}

thead td {
  font-size: 15px;
}

tbody {
    color: white;
}

tbody tr:hover {
  background-color: #282828;
  border-radius: 8px;
}

td {
  /* padding: .5rem 1rem; */
  padding: 15px 10px;
  font-size: 0.9rem;
  color: white;
}

.button {
    background-color: #7D7575;
    height: 100%;
    margin: auto;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    width: 120px;
    /* width: 28%; */
    transition: all 0.2s ease;
    padding: 6px 22px;
    border-radius: 10px;
  }


.listen-button {
    background-color: #1DB954;
}

.rejected-button {
  background-color: #1DB954;
}

.subscribe-button:hover {
    background-color: #FF0052;
}